.container {
  background-color: bisque;
  height: 100%;
  width: 100%;
  display: flex;
}

.inventoryContainer {
  background-color: aqua;
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px;
}

.cartContainer {
  background-color: aquamarine;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.itemInfo {
  display: flex;
  gap: 16px;
}

.cartItem {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.cartSummary {
  border-top: 1px solid #ccc;
  margin-top: 24px;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productCard {
  width: 200px;
  height: 200px;
  background-color: azure;
  border-radius: 12px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.imgSection {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-bottom: 1px solid #ccc;
}

.infoSection {
  width: 100%;
  height: 30%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantitySection {
  display: flex;
  gap: 8px;
  align-items: center;
}
